<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Алексей Иванович - Резюме</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" href="/static/png/icon.png" type="image/x-icon">
</head>
<body>
    <div class="container">
        <header class="fade-in">
            <h1>Алексей Иванович</h1>
            <p>Программист / Инженер разработчик</p>
        </header>

        <section id="about" class="section">
            <h2>Обо мне</h2>
            <div class="card">
                <p>Я - 21-летний программист, стремящийся улучшить свои навыки программирования, а также развить лидерские и управленческие качества. Мой фокус – на создании качественного, высокопроизводительного кода и эффективном управлении проектами.</p>
            </div>
        </section>

        <section id="education" class="section">
            <h2>Образование</h2>
            <div class="card">
                <h3>Донской государственный университет</h3>
                <p><em>Бакалавр "Робототехника и мехатроника"</em> | Сентябрь 2021 - июль 2025</p>
                <ul>
                    <li>Изучение программирования, алгоритмов и структур данных, дизайн и проектирование проектов, микросервисы.</li>
                    <li>Управление многороботными системами</li>
                </ul>
            </div>
        </section>

        <section id="certificates" class="section">
            <h2>Сертификаты</h2>
            <div class="card">
                <h3>VK "Разработка веб-сервисов на Golang"</h3>
                <p>Получен в: Декабре 2024</p>
            </div>
            <div class="card">
                <h3>VK "Алгоритмы и структуры данных"</h3>
                <p>Получен в: Мае 2024</p>
            </div>
        </section>

        <section id="publications" class="section">
            <h2>Публикации</h2>
            <div class="card">
                <h3>Изучение Golag и объяснение его простым языком</h3>
                <p><a href="https://t.me/GuruPupa" target="_blank">Перейти по ссылке в группу</a></p>
            </div>
        </section>

        <section id="events" class="section">
            <h2>Участие в мероприятиях</h2>
            <div class="card">
                <h3>Хакатон по разработке ПО</h3>
                <p>Участник | Апрель 2024</p>
            </div>
            <div class="card">
                <h3>Разработка сайта для вуза</h3>
                <p>Разработчик | Март 2024</p>
            </div>
        </section>

        <section id="skills" class="section">
            <h2>Навыки</h2>
            <div class="card">
                <ul>
                    <li>Языки программирования - Go, Python, JavaScript</li>
                    <li>SQL, NoSQL</li>
                    <li>Фреймворки - Gin, Django</li>
                    <li>Немного знаю Nginx</li>
                    <li>Умею немного работать с серверами и их настройкой</li>
                    <li>Знания и опыт в работы с unix системами и терминалом Bash</li>
                    <li>Оптимизация производительности</li>
                    <li>Управление командой разработчиков</li>
                </ul>
            </div>
        </section>

        <section id="projects" class="section">
            <h2>Проекты</h2>
            <div class="card">
                <h3>Chatbot Project</h3>
                <p>Разработка чат-бота с использованием Go и асинхронных процессов для обработки сообщений электронной почты.</p>
            </div>
            <div class="card">
                <h3>Task Manager CLI</h3>
                <p>Создание CLI-приложения для управления задачами и заметками с использованием SQL базы данных.</p>
            </div>
            <div class="card">
                <h3>ChatBot Django</h3>
                <p>Создание веб-приложения для вуза. Электронный помощник для поступающих и студентов.</p>
            </div>
        </section>

        <section id="interests" class="section">
            <h2>Интересы</h2>
            <div class="card">
                <ul>
                    <li>Игра на гитаре</li>
                    <li>Путешествия</li>
                    <li>Чтение книг по саморазвитию</li>
                    <li>Разработка приложений (хобби)</li>
                </ul>
            </div>
        </section>

        <section id="what-i-am-looking-for" class="section">
            <h2>Что я ищу</h2>
            <div class="card">
                <p>Я ищу возможность работать в команде, где смогу применить свои навыки и развивать их, а также вносить вклад в интересные и инновационные проекты.</p>
            </div>
        </section>

        <section id="gallery" class="section">
            <h2>Галерея</h2>
            <div class="gallery-container">
                <div class="gallery-card">
                    <img src="/static/png/1.jpg" alt="Фото 1">
                </div>
                <div class="gallery-card">
                    <img src="/static/png/2.jpg" alt="Фото 2">
                </div>
                <div class="gallery-card">
                    <img src="/static/png/3.JPG" alt="Фото 3">
                </div>
                <div class="gallery-card">
                    <img src="/static/png/4.JPG" alt="Фото 4">
                </div>
                <div class="gallery-card">
                    <img src="/static/png/5.JPG" alt="Фото 5">
                </div>
                <div class="gallery-card">
                    <img src="/static/png/6.jpg" alt="Фото 6">
                </div>
            </div>        
            <button class="gallery-button left" onclick="moveSlide(-1)">&#10094;</button>
            <button class="gallery-button right" onclick="moveSlide(1)">&#10095;</button>
        </section>

        <footer class="fade-in">
            <p>Свяжитесь со мной:</p>
            <p>
                <a href="vikulov2811@gmail.com">vikulov2811@gmail.com</a> |
                <a href="https://vk.com/vikulov" target="_blank">VK</a> |
                <a href="https://t.me/AVick23" target="_blank">Telegram</a> | 
                <a href="https://github.com/AVick23" target="_blank">GitHub</a>
            </p>
            <a href="/static/resume.pdf" class="download-button">Скачать резюме</a>
        </footer>
    </div>

    <script src="/static/js/script.js"></script>
</body>
</html>
